:root {
    --color-alfa: rgb(220, 220, 220);
    --color-beta: rgb(0, 200, 250);
}

.nav {
    background: var(--color-beta);
    display: flex;
    padding: 10px;
}

.nav__item {
    background: var(--color-alfa);
    cursor: pointer;
    padding: 0 5px;
    margin-left: 5px;
    position: relative;
}

.nav__item--no-space {
    margin-left: 0;
}

.nav__link {
    display: inline-block;
    color: var(--color-beta);
    height: 100%;
    text-decoration: none;
    width: 100%;
}

.nav__item:hover > .nav__dropdown {
    display: block;
}

.nav__dropdown {
    display: none;
    padding-top: 20px;
    position: absolute;
    left: 0;
}

.dropdown__item {
    background: var(--color-beta);
    border-bottom: 3px solid var(--color-alfa);
    padding: 5px 20px;
    min-width: 120px;
}

.dropdown__link {
    display: inline-block;
    color: var(--color-alfa);
    height: 100%;
    text-decoration: none;
    width: 100%;
}



